version: "3.9"

services:
  api:
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      # ===== LLM =====
      OPENAI_BASE_URL: "http://192.168.60.190:8033/v1"
      OPENAI_API_KEY: "local"

      LLM_MODEL: "gpt-oss-120b"
      LLM_TEMPERATURE: "0.3"
      LLM_REQUEST_TIMEOUT: "120"
      LLM_MAX_TOKENS: "1024"

      # ===== Vector DB (REMOTE) =====
      CHROMA_HOST: "192.168.60.190"
      CHROMA_PORT: "8010"
      CHROMA_COLLECTION: "docmind_db"

      # ===== Embedding =====
      EMBEDDING_BASE_URL: "http://192.168.60.190:8003/v1"
      EMBEDDING_MODEL_NAME: "Qwen/Qwen3-Embedding-8B"
      
      # ===== Retrieval tuning =====
      VECTOR_K: "8"
      BM25_K: "8"
      RERANK_K: "6"
      BM25_REFRESH: "0"

    restart: unless-stopped
